@model IEnumerable<CompanyJSL.Models.Persona>

@{
    ViewBag.Title = "Persona";
}

<h2 >Personas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table style="font-family:'Times New Roman'; font-size:medium" class="table">
    <tr style=" background-color: #0c0d3b; color: #ffffff; border: white solid 5px" class="header-table;  text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000">
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_de_documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dirección)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_de_rol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Código_de_facturas)
        </th>
        <th></th>
        </>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_de_documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dirección)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_de_rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Código_de_facturas)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idPersona }) |
                @Html.ActionLink("Details", "Details", new { id = item.idPersona }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idPersona })
            </td>
        </tr>

    }

    </table>
    <div id="imagenCompany" style="text-align:center">
        <img src="~/Imagenes/companyiamn.jpg" ; width="400" height="400" />
    </div>