@model IEnumerable<CompanyJSL.Models.Forma_de_pago>

@{
    ViewBag.Title = "Forma Pago";
}

<h2>Forma de pago</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table style="font-family:'Times New Roman'; font-size:medium" class="table">
    <tr style=" background-color: #0c0d3b; color: white; border: white solid 5px" class="header-table;text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000 ">
        <th>
            @Html.DisplayNameFor(model => model.Efectivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarjeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Número_de_tarjeta)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Efectivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarjeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Número_de_tarjeta)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Numerodepago }) |
                @Html.ActionLink("Details", "Details", new { id = item.Numerodepago }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Numerodepago })
            </td>
        </tr>
    }

</table>
<div id="imagenCompany" style="text-align:center">
    <img src="~/Imagenes/companyiamn.jpg" ; width="400" height="400" />
</div>